<mat-card>
    <h1 class="text-center">Update Todo</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form (ngSubmit)="update()">
                    <span class="error-msg-span">{{validationMessage.description}}</span>
                    <mat-form-field class="w100 text-center" appearance="fill">
                        <mat-label>Enter Description</mat-label>
                        <input [(ngModel)]="todoData.description" type="text" name="description" placeholder="Enter description here" matInput />
                    </mat-form-field>
                    <div class="container text-center " >
                        <button mat-raised-button color="primary" class="text-center">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>
